@import url("https://fonts.googleapis.com/css?family=Barlow");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:700");
html, body {
  width: 100%;
  height: 100%;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
  font-size: 16pt;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #111;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa", cursive;
  letter-spacing: normal;
}

ul, ol {
  list-style: none;
}

body {
  background-color: #fff;
  color: #111;
}

.base-subtitle {
  text-align: center;
  margin-bottom: 1rem;
}

.base-paragraph {
  padding: 5px 20px;
  margin-bottom: 2rem;
}

.body-container, .sites-container {
  width: 100%;
  min-height: 100%;
  padding: 120px 15px 60px 15px;
  background-image: url("../images/00-body-bg.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #111;
  color: #fff;
  position: fixed;
  bottom: 0px;
}
.footer_phones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  height: 230px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
}
.header__background {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 420px, 0% 420px);
          clip-path: polygon(0 0, 100% 0, 100% 420px, 0% 420px);
  overflow: hidden;
  width: 100vw;
  height: 420px;
  position: absolute;
  z-index: -1;
  background-color: #F1F5F9;
}
.header__lipari-logo {
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.5));
}

#main-header-bg {
  position: absolute;
  width: 100vw;
  height: 550px;
  background-size: cover;
  background-position: bottom;
  -webkit-animation: kenburns 20s infinite;
          animation: kenburns 20s infinite;
  z-index: -1;
  overflow: hidden;
}

@-webkit-keyframes kenburns {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(0, -120px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale3d(2, 2, 2) translate3d(0, -100px, 0px);
    opacity: 0;
  }
}

@keyframes kenburns {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(0, -120px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale3d(2, 2, 2) translate3d(0, -100px, 0px);
    opacity: 0;
  }
}
.links-banner {
  height: 160px;
  background-color: #F6896A;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  box-shadow: 0px 5px 15px #2b2b2b;
  position: relative;
  z-index: 10;
}
.links-banner__item {
  height: 125px;
  width: 225px;
  transition: 0.5s;
  border-radius: 15px;
}
.links-banner__item:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 15px #2b2b2b;
}

.card-container {
  width: 100%;
  min-height: 500px;
  height: calc(100vh - 440px);
  background-image: url(../images/index-bg.jpg);
  background-size: cover;
  padding: 20px 20px;
}

.card-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  width: 340px;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px #F6896A inset;
  padding: 20px;
  color: #000;
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
}
.card:hover {
  background-color: #F6896A;
  box-shadow: 0px 0px 0px 5px #fff inset;
  color: #fff;
  text-decoration: none;
}
.card-img {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px auto;
}
.card-description {
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  font-size: 20px;
  transition: 0.25s;
}

.-visible-description {
  color: black;
}

.mini-header {
  height: 100px;
  background-color: #fff;
  text-align: center;
  padding-top: 20px;
  width: 100%;
  box-shadow: 0px 5px 15px #2b2b2b;
  position: fixed;
  top: 0;
  z-index: 3;
}
.mini-header__logo {
  width: 200px;
  height: 90px;
  position: absolute;
  left: 5px;
  top: 5px;
}

.vcards {
  display: grid;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 15px;
  width: 100%;
  margin: 1rem 0;
  text-align: center;
}
.vcards__qr {
  width: 300px;
  height: 300px;
  grid-row: 1;
  padding: 10px;
  box-sizing: padding-box;
  border: dotted 4px black;
  border-radius: 10px;
}
.vcards__name {
  grid-row: 2;
}
.vcards__link {
  visibility: hidden;
  display: none;
}
.vcards__scan-text {
  grid-column-start: 1;
  grid-column-end: 3;
}

.keys-image {
  float: right;
  margin-left: 20px;
}

.software-list {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  grid-template-columns: 20% 80%;
  grid-template-rows: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 20px 5px;
}
.software-list__icon {
  height: 100px;
  margin: 0 auto;
  margin-bottom: 20px;
}
.software-list__name {
  grid-column: 1;
  margin: 0px auto;
  font-weight: lighter;
  text-align: center;
  color: white;
  padding: 5px 15px;
  background-color: #555555;
  min-height: 35px;
  border-radius: 10px;
  position: relative;
}
.software-list__name:after {
  content: "";
  position: absolute;
  top: 35px;
  right: calc(50% - 20px);
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #555555;
}
.software-list__desc {
  grid-column: 2;
  grid-row: auto/span 2;
  margin: auto 10px;
}

.sites-container {
  padding: 100px 0 50px 0;
}

.maps-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  width: 100%;
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

.maps-list {
  padding: 40px 0;
  height: calc(100vh - 150px);
  overflow-y: scroll;
}
.maps-list__item {
  margin-bottom: 5px;
  cursor: pointer;
  text-decoration: underline;
  height: 35px;
  width: 60.5%;
  padding: 5px 10px;
  border-radius: 5px;
  transition: 0.5s;
  position: relative;
}
.maps-list__item:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: 0;
  top: 0;
  width: 5px;
  height: 35px;
  background-color: #F6896A;
  transition: 0.5s;
}
.maps-list__item:hover {
  background-color: #F6896A;
  padding: 5px 20px;
}
.maps-list__item:hover:before {
  background-color: white;
  width: 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.maps-list__link {
  float: right;
  position: relative;
  z-index: 10;
  height: 35px;
  padding: 5px 10px 5px 40px;
  width: 39%;
  border-radius: 5px;
  transition: 0.5s;
}
.maps-list__link-icon {
  position: absolute;
  top: 0;
  left: 10px;
}
.maps-list__link:hover {
  background-color: white;
}

.-white-type {
  color: white;
}

.-justify-right {
  text-align: right;
}

.-float-img-left {
  margin-right: 10px;
  float: left;
}

.-float-img-right {
  margin-left: 10px;
  float: right;
}

.-important {
  text-align: left;
  text-decoration: underline;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  padding: 20px;
  background-color: #F6896A;
  width: 100%;
  min-height: 95px;
  border-radius: 5px;
}
.-important:before {
  content: url("../images/attention.png");
  margin-right: 15px;
}