@import url("https://fonts.googleapis.com/css?family=Barlow");
@import url("https://fonts.googleapis.com/css?family=Comfortaa:700");
html, body {
  width: 100%;
  height: 100%;
  font-family: "Barlow Condensed", sans-serif;
  letter-spacing: 1px;
  font-size: 16pt;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #111;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Comfortaa", cursive;
  letter-spacing: normal;
}

ul, ol {
  list-style: none;
}

body {
  background-color: #fff;
  color: #111;
}

.base-subtitle {
  text-align: center;
}

.base-paragraph {
  padding: 5px 20px;
}

._spacer {
  margin-top: 120px;
  display: block;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: #111;
  color: #fff;
  position: absolute;
  bottom: 0px;
}
.footer_phones {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.header {
  height: 230px;
  text-align: center;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  overflow: hidden;
  width: 100%;
}
.header__background {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 420px, 0% 420px);
          clip-path: polygon(0 0, 100% 0, 100% 420px, 0% 420px);
  overflow: hidden;
  width: 100vw;
  height: 420px;
  position: absolute;
  z-index: -1;
  background-color: #F1F5F9;
}
.header__lipari-logo {
  filter: drop-shadow(0px 1px 5px rgba(0, 0, 0, 0.5));
}

#main-header-bg {
  position: absolute;
  width: 100vw;
  height: 550px;
  background-size: cover;
  background-position: bottom;
  -webkit-animation: kenburns 20s infinite;
          animation: kenburns 20s infinite;
  z-index: -1;
  overflow: hidden;
}

@-webkit-keyframes kenburns {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(0, -120px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale3d(2, 2, 2) translate3d(0, -100px, 0px);
    opacity: 0;
  }
}

@keyframes kenburns {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  95% {
    transform: scale3d(1.5, 1.5, 1.5) translate3d(0, -120px, 0px);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
    opacity: 1;
  }
  100% {
    transform: scale3d(2, 2, 2) translate3d(0, -100px, 0px);
    opacity: 0;
  }
}
.links-banner {
  height: 160px;
  background-color: #F6896A;
  display: flex;
  justify-content: space-between;
  padding: 0 25px;
  align-items: center;
  box-shadow: 0px 5px 15px #2b2b2b;
  position: relative;
  z-index: 10;
}
.links-banner__item {
  height: 125px;
  width: 225px;
  transition: 0.5s;
  border-radius: 15px;
}
.links-banner__item:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 15px #2b2b2b;
}

.body-container {
  width: 100%;
  height: auto;
  min-height: 500px;
  background-image: url(../images/index-bg.jpg);
  background-size: contain;
  padding: 20px 20px;
}

.card-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 20px;
}

.card {
  width: 340px;
  height: 340px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0px 0px 0px 5px #F6896A inset;
  padding: 20px;
  color: #000;
  text-align: center;
  font-weight: bold;
  transition: 0.5s;
}
.card:hover {
  background-color: #F6896A;
  box-shadow: 0px 0px 0px 5px #fff inset;
  color: #fff;
  text-decoration: none;
}
.card-img {
  width: 200px;
  height: 200px;
  margin: 0 auto 20px auto;
}
.card-description {
  text-align: center;
  font-weight: bold;
  color: rgba(0, 0, 0, 0);
  font-size: 20px;
  transition: 0.25s;
}

.-visible-description {
  color: black;
}

.navigation {
  width: 550px;
  height: calc(100vh - 100px);
  background-color: #fff;
  border: 1px #111 solid;
  border-left: 0;
  overflow: hidden;
  display: inline-flex;
  flex-direction: column;
  position: fixed;
  left: -550px;
  top: 100px;
  float: left;
  transition: 1s;
  font-size: 14pt;
  z-index: 2;
}
.navigation__title {
  color: #111;
  text-align: center;
}
.navigation__link {
  padding: 0.5rem;
  color: #111;
  border-bottom: 1px solid #111;
  transition: all 0.3s;
}
.navigation__sites {
  height: 100px;
  width: 100%;
  background-color: #E6A0A0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap: 5px;
  padding: 1rem;
}
.navigation__sites-item {
  width: 60px;
  height: 60px;
  background-color: #a2b8e7;
  align-self: center;
}

.navigation__link:hover, .-current-page {
  color: #111;
  background-color: #a2b8e7;
  padding: 1rem;
}

.-current-page {
  pointer-events: none;
  cursor: default;
}

.mini-header {
  height: 100px;
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  box-shadow: 0px 5px 15px #2b2b2b;
  position: fixed;
  top: 0;
  z-index: 3;
}
.mini-header_menu {
  width: 80px;
  height: 80px;
  display: block;
  margin-left: 5px;
  cursor: pointer;
}
.mini-header_airbnb-logo {
  margin-right: 5px;
}

.corona__section {
  background-color: #a2b8e7;
  padding: 20px 0;
}

.corona__row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 0 30px;
}

.sanitizacion__seccion {
  min-height: 300px;
  margin-bottom: 10px;
}

.sanitizacion__seccion-alcohol {
  background-color: #ACE4BD;
}

.sanitizacion__seccion-cloro {
  background-color: #E6A0A0;
}

.sanitizacion__seccion-sales {
  background-color: #a2b8e7;
  min-height: 650px;
}

.limpieza__seccion {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: linear-gradient(to top, #ffe7d5 0%, #fff2d3 100%), linear-gradient(to top, #d5e2ff 0%, #d3f7ff 100%);
  background-size: 50% 100%, 50% 100%;
  background-position: 0 0, 100% 0;
  background-origin: padding-box, padding-box;
  background-repeat: no-repeat;
}
.limpieza__seccion-title {
  padding: 5px;
  background: rgba(255, 255, 255, 0.75);
  grid-column: span 2;
  text-align: center;
  margin: 0;
}
.limpieza__seccion-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;
  height: auto;
  width: auto;
}
.limpieza__seccion-paragraph {
  padding: 0 20px;
}

.sales__seccion {
  display: grid;
  grid-template-columns: 500px 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 20px;
}
.sales__seccion-img {
  grid-row: span 5;
}
.sales__seccion-paragraph {
  margin: 0px;
}

.sitios__seccion {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 20px;
  grid-gap: 20px;
}
.sitios__seccion-category {
  grid-column: 1/4;
  text-align: center;
}

.sitios__card {
  background-color: white;
  border: 1px solid black;
  position: relative;
}
.sitios__card-img {
  position: absolute;
  height: 220px;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 0;
     object-position: 0 0;
  z-index: 0;
  filter: opacity(0.7) grayscale(1);
  transition: all 0.5s ease-in-out;
}
.sitios__card-title {
  margin-top: 110px;
  text-align: center;
  position: relative;
  font-size: 2em;
  z-index: 2;
  text-shadow: 0px 0px 3px #FFFFFF;
}
.sitios__card-description {
  position: relative;
  z-index: 2;
  margin: 100px 10px 60px 10px;
  line-height: 1.4em;
}
.sitios__card-button {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 40px;
  width: 100%;
  z-index: 2;
  text-align: center;
  padding-top: 7px;
  background-color: white;
  border-top: 1px solid black;
  transition: all 0.5s ease-in-out;
}
.sitios__card-button:hover {
  background-color: #a2b8e7;
  text-decoration: none;
  color: white;
}
.sitios__card-button:hover ~ .sitios__card-img {
  filter: opacity(0.2) grayscale(0);
  height: 100%;
}

.computadora-mouse {
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.computadora-mouse__actions-item {
  cursor: pointer;
  transition: 0.5s;
  margin: 0 0 5px 20px;
  padding: 10px;
}
.computadora-mouse__actions-item:hover {
  background-color: #a2b8e7;
}
.computadora-mouse__mouse-image {
  width: 243px;
  height: 472px;
  justify-self: center;
  background-image: url(../images/03-computadora-mouse.png);
}

.computadora__mask {
  opacity: 0;
  transition: 0.5s;
}

.computadora__teclado {
  display: grid;
  grid-template-columns: 2fr 5fr;
  position: relative;
}
.computadora__teclado-item {
  cursor: pointer;
  transition: 0.5s;
  margin: 0 0 5px 20px;
  padding: 10px;
}
.computadora__teclado-item:hover {
  background-color: #a2b8e7;
}
.computadora__teclado-separator {
  margin: 0 5px 20px 20px;
  text-align: center;
}
.computadora__teclado-image {
  width: 911px;
  height: 421px;
  background-image: url(../images/03-computadora-teclado.jpg);
  justify-self: center;
  position: absolute;
  right: 10vw;
  top: 0;
  transition: 0.5s;
}
.computadora__teclado-explanation {
  text-align: center;
}

.computadora__filler {
  height: 800px;
}

.-white-type {
  color: white;
}

.-justify-right {
  text-align: right;
}

.-float-img-left {
  margin-right: 10px;
  float: left;
}

.-float-img-right {
  margin-left: 10px;
  float: right;
}

.-span-2-cols {
  grid-column: span 2;
}